strong {
    font-weight: bold;
    white-space: pre-wrap;
}

em {
    font-style: italic;
    white-space: pre-wrap;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
    white-space: pre-wrap;
}

del {
    text-decoration: line-through;
    white-space: pre-wrap;
}

code {
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 4px;
    white-space: pre-wrap;
}

code::before,
code::after {
  content: '`';
}

blockquote {
    margin-left: 20px;
    padding-left: 15px;
    border-left: 5px solid #ccc;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: blue;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
    color: blue;
}

li {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    color: blue;
}

a {
    color: blue;
    text-decoration: underline;
}

h1 { font-size: 2em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-bottom: 0.75em; }
h3 { font-size: 1.17em; margin-bottom: 1em; }
h4 { font-size: 1em; margin-bottom: 1.33em; }
h5 { font-size: 0.83em; margin-bottom: 1.67em; }
h6 { font-size: 0.67em; margin-bottom: 2.33em; }

.bold-italic {
    font-style: italic;
    white-space: pre-wrap;
}

#chatContainer {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
  
#chatContainer p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 16px;
  white-space: pre-wrap;
}

.code-block {
  border: 1px solid #ddd;
  background-color: #f6f8fa;
  border-radius: 6px;
  margin: 10px 0;
  font-family: 'Courier New', monospace;
}

.code-header {
    background-color: #e1e4e8;
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #333;
    font-size: 0.9em;
}

.code-body {
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
}